* {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to top, #efd5ff 0%, #515ada 100%);
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
}

button:hover {
    opacity: 0.85;
}

.ToDo__container {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    width: 550px;
    margin-top: 5rem;
    padding: 24px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.09),
    3px 2px 3px rgba(0, 0, 0, 0.05);
}

.Todo__creation {
    display: flex;
}

.Todo__input {
    flex: 1 1;
    min-height: 36px;
    outline: none;
    padding: 0 12px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid #b2b1b1;
    background: transparent;
    color: #fff;
}

.Todo__input::placeholder {
    color: #e2e2e2;
}

.Todo__input:focus {
    border: 2px solid orangered;
    box-shadow: 1px 0 9px rgba(0, 0, 0, 0.25);
}

.ToDo__list {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.ToDo__item {
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
}

.Todo-item__checkbox {
    position: relative;
    width: 28px;
    height: 28px;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

.Todo-item__checkbox::before {
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 7px;
    width: 7px;
    height: 12px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.Todo-item__checkbox:checked {
    color: #fff;
    border-color: #06842c;
    background: #06842c;
}
.Todo-item__checkbox:checked::before {
    opacity: 1;
}

.Todo-item__label {
    flex: 1 1;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    padding: 0 0.25em 0;
    user-select: none;
}

.Todo-item__checkbox:checked ~ .Todo-item__label{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #363839;
}

.Todo-item__input {
    flex: 1 1;
    min-height: 24px;
    outline: none;
    margin: 0 8px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #b2b1b1;
    background: transparent;
    color: #fff;
}

.Todo-item__input:focus {
    border: 1px solid orangered;
    box-shadow: 1px 0 9px rgba(0, 0, 0, 0.25);
}

.Todo-item__btn {
    outline: none;
    border: none;
    padding: 10px;
    box-shadow: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: orangered;
    color: white;
    margin-left: 5px;
}

.Todo-item__btn--edit {
    background: dodgerblue;
}

.Todo-item__btn--delete {
    background: orangered;
}

.Todo__toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.Todo__tabs {
    display: flex;
    justify-content: center;
}

.Todo__tabs > *:not(:last-child) {
    margin-right: 8px;
}

.Action__btn {
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: darkslateblue;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 5px;
}